.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-label{
    font-weight: 500;
    color: var(--color-dim-gray);
    font-size: 0.9rem;
    margin-bottom: 3px;
    margin-left: 1px;
}

.input {
  padding: 0.75rem 1rem;
  border-radius: 5px;
  background-color: var(--input-bg-color);
  border: 2px solid var(--color-off-gray);
  color: var(--color-secondary);
  font-family: inherit;
  font-size: 1.2rem;
}

.input:focus{
    outline: 2px solid var(--color-light-blue);
}
