.menu-bar {
  width: 100%;
}

.ProseMirror {
  width: 100%;
  content: "Hello World";
}

.text-editor {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  border-radius: 8px;
  margin-top: 1rem;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.take-a-note-input {
  border-radius: 8px;
  width: 100%;
  font-family: inherit;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
}

.take-a-note-input::placeholder {
  color: var(--color-dim-gray);
  font-weight: normal;
}

.content-input {
  font-size: 0.9rem;
}

.ProseMirror-focused {
  outline: none;
  border: none;
}

.ProseMirror-focused {
  content: "";
}

.close-btn {
  font-weight: 500;
  font-family: inherit;
  border-radius: 5px;
  padding: 8px 10px;
}

.close-btn:hover {
  background-color: var(--color-off-gray);
}