@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-white: #ffffff;
  --color-dark: #000000;
  --color-primary: #feefc3;
  --color-secondary: #6a676d;
  --color-dark-gray: #202124;
  --color-dim-gray: #61656a;
  --color-off-gray: #3c404318;
  --color-off-white: #f1f3f4;
  --color-light-blue: #1a73e8;

  --auth-btn-color: #fbbc04;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.auth-card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  max-width: 30rem;
  margin: 4rem auto;
  border-radius: 5px;
  padding: 1rem;
}

.auth-card-heading {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-secondary);
  margin-bottom: 1rem;
}

.auth-btn {
  width: 100%;
  text-align: center;
  background-color: var(--auth-btn-color);
  font-family: inherit;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  color: var(--color-white);
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  margin: 0.5rem 0;
}

.auth-btn:hover {
  opacity: 0.9;
}

.auth-bottom-text {
  text-align: center;
  color: var(--color-secondary);
}

.loader-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* UTILITY CLASSES */

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--color-light-blue);
}

.divider-sm {
  height: 1px;
  width: 100%;
  background-color: var(--color-off-gray);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.gray-text {
  color: var(--color-dim-gray);
}

.btn-disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.gap-10px {
  gap: 10px;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }

  .auth-card {
    max-width: 25rem;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 65%;
  }
}
